[submodule "external/common_backend"]
	path = external/common_backend
	url = https://github.com/RealmOfAesir/common_backend.git
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
