[submodule "external/common_backend"]
	path = external/common_backend
	url = https://github.com/RealmOfAesir/common_backend.git
[submodule "external/entityx"]
	path = external/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
