[submodule "external/common_backend"]
	path = external/common_backend
	url = https://github.com/RealmOfAesir/common_backend.git
[submodule "external/LuaJIT"]
	path = external/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
